<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubu.work.mybatis.mapper.SktMapper">
  <resultMap id="BaseResultMap" type="com.hubu.work.mybatis.pojo.Skt">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert">
    insert into skt(username,password) values (#{username},#{password})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from skt
  </select>

</mapper>