<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubu.work.mybatis.mapper.UserMessageMapper">
  <resultMap id="BaseResultMap" type="com.hubu.work.mybatis.pojo.UserMessage">
    <id column="ID" jdbcType="BIGINT" property="id"/>
    <result column="SENDER" jdbcType="VARCHAR" property="sender"/>
    <result column="RECEIVER" jdbcType="VARCHAR" property="receiver"/>
    <result column="TYPE" jdbcType="VARCHAR" property="type"/>
    <result column="CONTEXT" jdbcType="VARCHAR" property="context"/>
    <result column="READ" jdbcType="INTEGER" property="read"/>
    <result column="DATE" jdbcType="VARCHAR" property="date"/>
  </resultMap>

  <update id="readMessage">
    update user_message
    <set>
      read = 1
    </set>
    <where>
      id = #{id}
    </where>
  </update>

  <select id="selectUserMessageAcceptedWithType" resultType="com.hubu.work.mybatis.pojo.UserMessage">
    select * from user_message
    <where>
      username = #{username} and type = #{type}
    </where>
    order by id desc
  </select>

  <select id="getUserMessageNotReadCountWithType" resultType="int">
    select count (*) from user_message
    <where>
      username = #{username} and read = 0 and type = #{type}
    </where>
    order by id desc
  </select>

</mapper>